/* basic css  */

body{
    margin: 0;
    padding: 0;

}
.container{
   display: flex;
   height: 100vh;
   background: aqua;
   justify-content: space-around;
  align-items: center;
}
.card{
   perspective: 1000px;
transform-style: preserve-3d;
}
.card-item{
    background: #ffffff;
    width: 350px;
    height: 400px;
    /* transform: rotateY(60deg); */
    transition: transform 0.2s;
}
.card-item img{
    width: 350px;
    height: 400px;
}